@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-main-gray: #727280;
  --color-main-gray-medium: #8d8d8e;
  --color-main-gray-light: #f0f4fb;
  --color-main-blue: #2967ff;
  --color-main-pink: #ff2d87;
  --color-main-beige: #f8f8f8;
}

body {
  font-family: "Raleway", sans-serif;
}
